.loaderContainer {
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.lds_dual_ring {
  color: #1976d2;
}

.lds_dual_ring,
.lds_dual_ring:after {
  box-sizing: border-box;
}
.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
